venv
*.pyc
staticfiles
podcasts/.env
.env
*.sqlite3
# DEPLOY
secret.txt
env.py
settings.json
Pipfile.lock
Pipfile
templates/_original
media
.DS_Store
**/**/.pyc
*/*.pyc
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
build/
/build
staticfiles
build
node_modules
bower_components
*.sublime*
psd
thumb
sketch
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.pyc 
*.pyc
*.pyc 
static