boto3==1.9.219
botocore==1.12.219
dj-database-url==0.5.0
Django==2.2
django-heroku==0.3.1
django-storages==1.7.1
django-summernote==0.8.11.4
docutils==0.15.2
gunicorn==19.9.0
jmespath==0.9.5
Pillow==6.1.0
psycopg2==2.8.3
python-dateutil==2.8.1
pytz==2019.2
s3transfer==0.2.1
six==1.14.0
sorl-thumbnail==12.6.3
sqlparse==0.3.0
urllib3==1.25.8
whitenoise==4.1.3
