{% load static %}
{% load i18n %}
{% load l10n %}

	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url({% static 'images/index.jpg)' %}"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="tags">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="#">lifestyle</a></li>
									<li><a href="#">interview</a></li>
									<li><a href="#">last episode</a></li>
								</ul>
							</div>
							<div class="home_title"><h1>Season 4 Episode 48 available.</h1></div>
							<div class="home_subtitle">Check out my latest podcast a massive interview with John Doe</div>
							<div class="track_info">
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="#">September 24, 2018</a></li>
									<li><a href="#">Music</a></li>
									<li>56:40</li>
									<li><a href="#">0 Comments</a></li>
								</ul>
							</div>
							<div class="track track_home">
<!-- Player -->
								<div class="player-background">
                    <div id="ag1" class="audiogallery">
                        <div class="items">
                            <div class="audioplayer-tobe" style="width:100%; "
                                data-thumb="{% static 'images/about.jpg' %}"
                                data-bgimage="{% static 'audioplayer/img/bg.jpg' %}"
                                data-scrubbg="{% static 'audioplayer/waves/scrubbg.png' %}"
                                data-scrubprog="{% static 'audioplayer/waves/scrubprog.png' %}"
                                data-videoTitle="Audio Video" data-type="normal"
                                data-source="{% static 'files/vampire.mp3' %}"
                                data-sourceogg="{% static 'files/vampire.mp3' %}">
                                <div class="meta-artist"><span class="the-artist">Dyzia</span><br /><span
                                        class="the-name">Dyzia
                                </div>
                                <div class="menu-description">
                                    <div class="menu-item-thumb-con">
                                        <div class="menu-item-thumb"
                                            style="background-image: url({% static 'audioplayer/img/adg3.jpg' %})">
                                        </div>
                                    </div>
                                    <span class="the-artist">Dyzia</span>
                                    <span class="the-name">Dyzia</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

								</div>							</div>
							<div class="button_border home_button trans_200"><a href="#">More Info</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Shows -->

	<div class="shows">
		<div class="container">
			<div class="row shows_row">
				
				<!-- Show -->
				<div class="col-lg-4">
					<div class="show">
						<div class="show_image">
							<a href="episode.html">
								<img src="{% static 'images/show_1.jpg' %}" alt="https://unsplash.com/@icons8">
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="#">Music</a></li>
									</ul>
								</div>
							</div>
							<div class="show_play_icon"><img src="{% static 'images/play.svg' %}" alt="https://www.flaticon.com/authors/cole-bemis"></div>
						</div>
						<div class="show_content">
							<div class="show_date"><a href="#">24 September, 2018</a></div>
							<div class="show_title"><a href="episode.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></div>
							<div class="show_info d-flex flex-row align-items-start justify-content-start">
								<div class="show_fav d-flex flex-row align-items-center justify-content-start">
									<div class="show_fav_icon show_info_icon"><img class="svg" src="{% static 'images/heart.svg' %}" alt=""></div>
									<div class="show_fav_count">2371</div>
								</div>
								<div class="show_comments">
									<a href="#">
										<div class="d-flex flex-row align-items-center justify-content-start">
											<div class="show_comments_icon show_info_icon"><img class="svg" src="{% static 'images/speech-bubble.svg' %}" alt=""></div>
											<div class="show_comments_count">88 Comments</div>
										</div>
									</a>	
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Show -->
				<div class="col-lg-4">
					<div class="show">
						<div class="show_image">
							<a href="episode.html">
								<img src="{% static 'images/show_2.jpg' %}" alt="https://unsplash.com/@pawel_czerwinski">
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="#">Experiment</a></li>
									</ul>
								</div>
							</div>
							<div class="show_play_icon"><img src="{% static 'images/play.svg' %}" alt="https://www.flaticon.com/authors/cole-bemis"></div>
						</div>
						<div class="show_content">
							<div class="show_date"><a href="#">24 September, 2018</a></div>
							<div class="show_title"><a href="episode.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></div>
							<div class="show_info d-flex flex-row align-items-start justify-content-start">
								<div class="show_fav d-flex flex-row align-items-center justify-content-start">
									<div class="show_fav_icon show_info_icon"><img class="svg" src="{% static 'images/heart.svg' %}" alt=""></div>
									<div class="show_fav_count">2371</div>
								</div>
								<div class="show_comments">
									<a href="#">
										<div class="d-flex flex-row align-items-center justify-content-start">
											<div class="show_comments_icon show_info_icon"><img class="svg" src="{% static 'images/speech-bubble.svg' %}" alt=""></div>
											<div class="show_comments_count">88 Comments</div>
										</div>
									</a>	
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Show -->
				<div class="col-lg-4">
					<div class="show">
						<div class="show_image">
							<a href="episode.html">
								<img src="{% static 'images/show_3.jpg' %}" alt="https://unsplash.com/@trevcole">
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="#">Music</a></li>
									</ul>
								</div>
							</div>
							<div class="show_play_icon"><img src="{% static 'images/play.svg' %}" alt="https://www.flaticon.com/authors/cole-bemis"></div>
						</div>
						<div class="show_content">
							<div class="show_date"><a href="#">24 September, 2018</a></div>
							<div class="show_title"><a href="episode.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></div>
							<div class="show_info d-flex flex-row align-items-start justify-content-start">
								<div class="show_fav d-flex flex-row align-items-center justify-content-start">
									<div class="show_fav_icon show_info_icon"><img class="svg" src="{% static 'images/heart.svg' %}" alt=""></div>
									<div class="show_fav_count">2371</div>
								</div>
								<div class="show_comments">
									<a href="#">
										<div class="d-flex flex-row align-items-center justify-content-start">
											<div class="show_comments_icon show_info_icon"><img class="svg" src="{% static 'images/speech-bubble.svg' %}" alt=""></div>
											<div class="show_comments_count">88 Comments</div>
										</div>
									</a>	
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col text-center">
					<div class="button_fill shows_button"><a href="#">browse shows</a></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Bi Weekly -->

	<div class="weekly">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="{% static 'images/weekly.jpg' %}" data-speed="0.8"></div>
		<div class="container">
			<div class="row row-eq-height">
				
				<!-- Weekly Content -->
				<div class="col-lg-6">
					<div class="weekly_content d-flex flex-column align-items-start justify-content-lg-center justify-content-start">
						<div>
							<div class="weekly_title"><h1>Bi-weekly episodes</h1></div>
							<div class="weekly_text">
								<p>Cras congue et risus eget congue. Integer id justo non orci suscipit cursus a scelerisque libero. Fusce in tortor mauris. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas euismod sed magna.</p>
							</div>
							<div class="shops d-flex flex-row align-items-start justify-content-start flex-wrap">
								<div class="button_border"><a href="#">Amazon</a></div>
								<div class="button_border"><a href="#">Itunes</a></div>
								<div class="button_border"><a href="#">Spotify</a></div>
							</div>
						</div>
					</div>
				</div>

				<!-- Weekly Image -->
				<div class="col-lg-6">
					<div class="weekly_image">
						<img src="{% static 'images/show_3.jpg' %}" alt="">
						<div class="logo">
							<a href="#" class="d-flex flex-row"><span>my</span>podcast<div><img src="{% static 'images/play_2.png' %}" alt=""></div></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Shows 2 -->

	<div class="shows_2">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="shows_2_title">By Category</div>
				</div>
			</div>
			<div class="row shows_2_row">
				
				<!-- Show -->
				<div class="col-xl-3 col-md-6">
					<div class="show">
						<div class="show_image">
							<a href="episode.html">
								<img src="{% static 'images/show_4.jpg' %}" alt="https://unsplash.com/@h4rd3n">
								<div class="show_play_icon"><img src="{% static 'images/play.svg' %}" alt="https://www.flaticon.com/authors/cole-bemis"></div>
								<div class="show_title_2">Cras malesuada ipsum sapien.</div>
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="#">travel</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Show -->
				<div class="col-xl-3 col-md-6">
					<div class="show">
						<div class="show_image">
							<a href="episode.html">
								<img src="{% static 'images/show_5.jpg' %}" alt="https://unsplash.com/@gohobo">
								<div class="show_play_icon"><img src="{% static 'images/play.svg' %}" alt="https://www.flaticon.com/authors/cole-bemis"></div>
								<div class="show_title_2">Cras malesuada ipsum sapien.</div>
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="#">lifestyle</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Show -->
				<div class="col-xl-3 col-md-6">
					<div class="show">
						<div class="show_image">
							<a href="episode.html">
								<img src="{% static 'images/show_6.jpg' %}" alt="https://unsplash.com/@zacharykeimig">
								<div class="show_play_icon"><img src="{% static 'images/play.svg' %}" alt="https://www.flaticon.com/authors/cole-bemis"></div>
								<div class="show_title_2">Cras malesuada ipsum sapien.</div>
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="#">music</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Show -->
				<div class="col-xl-3 col-md-6">
					<div class="show">
						<div class="show_image">
							<a href="episode.html">
								<img src="{% static 'images/show_7.jpg' %}" alt="https://unsplash.com/@bkview">
								<div class="show_play_icon"><img src="{% static 'images/play.svg' %}" alt="https://www.flaticon.com/authors/cole-bemis"></div>
								<div class="show_title_2">Cras malesuada ipsum sapien.</div>
							</a>
							<div class="show_tags">
								<div class="tags">
									<ul class="d-flex flex-row align-items-start justify-content-start">
										<li><a href="#">travel</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col text-center">
					<div class="button_fill shows_2_button"><a href="#">browse shows</a></div>
				</div>
			</div>
		</div>
	</div>