
.audioplayer.skin-aria{
  text-align: left;
  line-height: 1;
  .audioplayer-inner{
    height: 100px;

    >.the-thumb-con{
      display: none;
    }
  }

  .controls-right{
    display: none;
  }
  .ap-controls{

    > .the-bg{
      display: none;
    }
    height: 100%;
    .ap-controls-left{
      width: 100px;
      height: 100%;
      position: relative;
      background-color: #825d5b;
      float:left;

      border-radius: 5px 0 0 5px;

      .con-playpause{
        width: 60px;
        height:60px;
        margin-left:0;
        position: absolute;
        left:50%; top: 50%;
        margin-left: -30px;
        margin-top: -30px;


        background-color: #a26b61;
        border-radius: 50%;

        .playbtn{

          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -10px;
          margin-top: -16px;
          width: auto;height:auto;
          border: 0px solid #191d21;

          path{
            fill: #e1d9ca;
          }
        }
        .pausebtn{

          position: absolute;
          top: 50%;
          left: 50%;
          margin-left: -12px;
          margin-top: -16px;

          width: auto;height:auto;
          border: 0px solid #191d21;

          path{
            fill: #e1d9ca;
          }
        }
      }
    }
    .ap-controls-right{
      float:none;
      overflow: hidden;
      background-color: #e1d9ca;
      height: 100px;

      border-radius: 0 3px 3px 0;

      padding-top: 13px;
      padding-left: 13px;

      padding-right: 13px;

      >*{
        float:none;
      }

      .meta-artist{
        overflow: hidden;
      }

      .meta-artist-con{
        position: relative;
        top:0;
        left:0;
        color: #774b5e;
        white-space: nowrap;
        max-width: none;


        .the-artist{

          font-size: 16px;
          font-weight: bold;

        }


        .the-artist:after{
          content: "";
          display: block;
          clear: both;
          height: 4px;
        }

        .the-name{
          font-size: 14px;
          font-weight: 300;
        }
      }

      .scrubbar{
        margin-top: 8px;
        height: 6px;

        > .scrub-bg{
          border-radius: 2px;
        }

        >.scrub-prog{

          border-radius: 2px;
          background-color: #bf7e4c;
        }
      }

      .total-time{
        position: relative;
        top:0; left: 0;
        color: #774b5e;
        padding:0;
        font-size: 14px;
        margin-top: 8px;
      }
    }
  }

}



.audioplayer.skin-aria.under-400 .meta-artist-con{
  display: block;
}

